[submodule "vectornav"]
	path = vectornav
	url = https://github.com/dawonn/vectornav.git

[submodule "fcs_deb"]
	path = fcs_ros_deb/lib/fcs_deb
	url = git@4dctech.com:fcs_deb.git

[submodule "ublox"]
	path = ublox
	url = https://github.com/KumarRobotics/ublox.git
